<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

   <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Prosto+One" rel="stylesheet">
     <link rel="stylesheet" href="/assets/css/styles.css">

     

    <title id="meta_title"></title>

</head>

<body onload="displaySavedArticles()">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width:100%; position: fixed; top:0; z-index: 500;">
	  <a class="navbar-brand" href="#">SCRAPER</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/">Home </a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Saved Articles<span class="sr-only">(current)</span></a>
	      </li>
	    </ul>
	    
	  </div>
	</nav>
	<div style="background-color: black" class="text-center">
	<div  class="text-center" style="position: absolute; bottom: 300px; z-index: 400; color: white; width: 100%;">
			<h1 class="prosto">Saved Articles</h1>
			<h3 class="amatic">Your Saved Articles</h3>
	</div>
	<div class="jumbotron text-center">
		
		
	</div>
	
</div>
                
    {{{body}}}


<script type="text/javascript" src="/assets/js/script.js"></script>
</body>

</html>