<div style="min-height: 800px;">


 <div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h6 class="modal-title">Notes for article <span id="article-id"></span></h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <div id="note-area" class="text-center" ></div>

        <textarea id="note-box" class="form-control" placeholder="New Note"></textarea>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="save-note-btn">SAVE NOTE</button>
      </div>

    </div>
  </div>
</div>
<div id="saved-articles"><div>
</div>

 
